@charset "UTF-8";

*{margin: 0; padding: 0;}

/*Roxa*/
	.part1 {
		background-color: #565E8C;
	}

	.title1{
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		padding-top: 4rem;
	}
	
	.img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.text {
		font-family:Arial, Helvetica, sans-serif ;
		display: flex;
		color: #ffff;
		width: 100%;
		justify-content: flex-end;
	}

	.text h2{
		margin-right: 8px;
		margin-bottom: 10px;
	}
	

/*Laranja*/
	.container {
		background-color: #BF3706;
		height: 35vh;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.bloco {
		background-color: #F2F2F2;
		color: #BF3706;
		height: 20px;
		width: 100px;
		padding: 80px;
		text-align: center;
		align-items: center;
		justify-content: space-around;
		font-family: "Arial";
	}

/*Cinza*/

	footer {
		background-color:#D9D9D9;
		height: 20vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	input {
		padding: 15px;
		padding-left: initial;
		width: 250px;
		color: #808080;
		font: 1em sans-serif;
		font-weight: 600;
	}

	button{
		background-color: #BF3706;
		padding: 15px;
		color: #ffffff;
		width: 100px;
		font: 1em sans-serif;
	}